@using Plant.Core.DTOs
@model IEnumerable<OfferDto>

@{
	ViewData["Title"] = "Offer";
}

<div>
	<h1>Offers</h1>
	<p>See all available offers.</p>
</div>


<div id="offers" class="container-flex row ">

	@foreach (var item in Model)
	{
		<div class="card mb-2 p-3">
			<h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
			<div class="card-body">
				<p class="card-text">
					@Html.DisplayFor(modelItem => item.Description)
					@Html.DisplayFor(modelItem => item.StartDate)
					@Html.DisplayFor(modelItem => item.EndDate)
					<p>Discount: @Html.DisplayFor(modelItem => item.Discount)% </p>
				</p>
			</div>
		</div>
	}
</div>


@*<div id="" class="accordion accordion-flush">
	
	@foreach (var item in Model)
	{
		<div class="accordion-item">
			<h2 class="accordion-header" id="flush-headingOne">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
					 @item.Title
				</button>
			</h2>
			<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
				<div class="accordion-body">
					<p>@item.Description</p>
					@Html.DisplayFor(modelItem => item.StartDate)
					@Html.DisplayFor(modelItem => item.EndDate)
					@Html.DisplayFor(modelItem => item.Discount)
					<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>

				</div>
			</div>
		</div>
	}
</div>*@