@using WebShop.Models.ViewModels
@*@model IEnumerable<OrderViewModel>*@
@model CustomerPageViewModel

@{
	ViewData["Title"] = "Orders";
}

<h1>Customer Page</h1>
<div>
	<a class="btn btn-primary m-1" asp-controller="Product" asp-action="Index">Shop</a>
	<a class="btn btn-primary m-1" asp-controller="Product" asp-action="OffersView">Offers</a>

</div>

<div id="customerPage" class="grid">

	<div id="transactions" class="g-col-6 g-col-md-4 mt-3">
		<div>
			<h2>Your transactions</h2>
		</div>
		@foreach (var item in Model.Orders)
		{
			<div id="payment" class="card mb-2 p-3">
				<h5 class="card-title">Order date: @Html.DisplayFor(modelItem => item.OrderDate)</h5>
				<div class="card-body">
					<p class="card-text">
						@Html.DisplayFor(modelItem => item.TotalPrice) kr
					</p>
				</div>
			</div>
		}
	</div>
	<div class="message g-col-6 g-col-md-4">
		<h2>Your messages</h2>
		<div id="messageBox">

			<h4>Meddelanden</h4>
			<p>
				Företaget är en fullservicebyrå som jobbar på både nationell och nordisk marknad,
				främst med områdena strategi, idé, design, film, digitalt content, SOME, produktion och kommunicerar inom allt möjligt.
				I rollen som projektledare kommer du att projektleda och koordinera projekt för både lokala, nordiska och större internationella
				uppdragsgivare. Projektledarens yttersta ansvar är att leda arbetsgrupperna, budgetera och hålla tidsplaner. Det är av stor vikt att kunna delegera
				uppgifter och handha utomordentlig kundkontakt.
			</p>
			<p>
				Företaget är en fullservicebyrå som jobbar på både nationell och nordisk marknad,
				främst med områdena strategi, idé, design, film, digitalt content, SOME, produktion och kommunicerar inom allt möjligt.
				I rollen som projektledare kommer du att projektleda och koordinera projekt för både lokala, nordiska och större internationella
				uppdragsgivare. Projektledarens yttersta ansvar är att leda arbetsgrupperna, budgetera och hålla tidsplaner. Det är av stor vikt att kunna delegera
				uppgifter och handha utomordentlig kundkontakt.
			</p>
			<p>
				Mvh Nalle Puh
			</p>
		</div>

		<div class="form-check form-switch mt-2">
			<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
			  <label class="form-check-label" for="flexSwitchCheckDefault">Read / Write</label>
		</div>
	</div>

	<div id="person" class="g-col-6 g-col-md-4">
		<p>Info om personen som är inloggad.</p>
	</div>
</div>


@*<table class="table">
	<thead>
	<tr>
	<th>
	@Html.DisplayNameFor(model => model.Orders.First().OrderDate)
	@Html.DisplayNameFor(model => model.Orders.First().TotalPrice)
	@Html.DisplayNameFor(model => model.Orders.First().AppUserId)
	</th>
	<th></th>
	</tr>
	</thead>
	<tbody>
	@foreach (var item in Model.Orders)
	{
	<tr>
	<td>
	@Html.DisplayFor(modelItem => item.OrderDate)
	@Html.DisplayFor(modelItem => item.TotalPrice)
	@Html.DisplayFor(modelItem => item.AppUserId)
	</td>
	<td>
	<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
	<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
	<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
	</td>
	</tr>
	}
	</tbody>
	</table>*@
